@charset "US-ASCII";

body {
	font-family: Verdana;
	width: 800px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	background: #483D8B;
	padding: 15px 25px;
	margin: 0px -10px;
	color: white;
}

form {
	margin: 10px;
	margin-top: 30px;
}

#plot {
	width: 760px;
	height: 500px;
}

footer {
	font-size: 70%;
	margin-top: 4ex;
}

footer img {
	vertical-align: text-top;
}

tr {
	text-align: right;
}

input[type="number"] {
	margin: 0 15px 0 5px;
	width: 55px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.alert {
	color: red;
	font-weight: bold;
}


@media print {

h1 {
	background: white;
	color: black;
	font-weight: normal;
}

.hide-on-print {
	display: none;
}

input {
	border: 0px;
	border-bottom: 1px solid black;
}
}
